*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(accent1-color);
}
header, main , footer {
                        width: 840;
                        margin: 0 auto;
}
h1 , h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav,p,section,article{
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero image {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align:centre;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
main image {
    width: 150px;
    height: auto;
    
    
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(000/0.2);/*1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside image {
    width: 200px;
    height: auto;

}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}